fastapi==0.120.0
uvicorn==0.38.0
motor==3.7.1
pydantic==2.12.3
pydantic-settings==2.11.0
python-dotenv==1.1.1
langchain==1.0.2
langchain-openai==1.0.1
langgraph==1.0.1
openai==2.6.1
python-multipart==0.0.20
aiofiles==25.1.0